In [1]:
import tweepy
import socket
import json

import os, time
import pandas as pd
import numpy as np

In [2]:
# Spark processing

from pyspark import SparkContext
from pyspark.streaming import StreamingContext
from pyspark.sql import SQLContext
from pyspark.sql.functions import desc
from collections import namedtuple

In [3]:
sc = SparkContext() # initial spark context

ssc = StreamingContext(sc, 10)
sqlContext = SQLContext(sc)


socket_stream = ssc.socketTextStream("0.0.0.0", 5555) # accept socket text stream

#lines = socket_stream.window( 20 )

# Create a class Tweet via namedtuple package
fields = ("tag", "count" )
Tweet = namedtuple( 'Tweet', fields )

22/04/03 10:04:34 WARN Utils: Your hostname, linyanliangdeMacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.101 instead (on interface en0)
22/04/03 10:04:34 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/04/03 10:04:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
/Users/linyanliang/.pyenv/versions/3.7.9/lib/python3.7/site-packages/pyspark/sql/context.py:79: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

In [4]:
lines = socket_stream.window( 20 )

In [5]:
lines.flatMap( lambda text: text.split( " " ) ) \
     .filter( lambda word: word.lower().startswith("#") )  \
     .map( lambda word: ( word.lower(), 1 ) )  \
     .reduceByKey( lambda a, b: a + b )   \
     .map( lambda rec: Tweet( rec[0], rec[1] ) )   \
     .foreachRDD( lambda rdd: rdd.toDF().sort( desc("count") ).limit(10).registerTempTable("tweets") )

In [ ]:
ssc.start()